<%= link_to 'Back', :back %> | <%= link_to "add pool", new_pool_path %>
<table>
  <tr>
    <td>Pool Name</td>
  </tr>
  <tr>
  <% @pools.each do |pool| %> 
    <a href=" <%=new_pool_match_path(pool) %>">
      <td><%= pool.name %></td>
    </a>
    <% if current_user #current_user.admin == true %>
      <%= link_to "#{pool.name} add match", new_pool_match_path(pool) %>
    <%end%>
  </tr>
  <% end %>

</table>