<style>
  .sub-color{
    background-color: #208B3A  ;
  }
  .t-color{
    color:#208B3A ;
  }
  .bgk-color{
    background-color: #E15007 ;
  }
</style>
<%= form_with model: [pool, match, prediction] do |form|%>
  <div class="">
      <div class=" pt-4">
        <div class="flex justify-center px-5 w-full">
          <div class="w-4/5 flex justify-start ">
            <%=form.label @match.team_a.name %>
          </div>
          <div class="w-1/5 overflow-hidden border-2 border-green-300">
            <%= form.number_field :score_a %>
          </div>
        </div> <br>
        <div class="flex justify-center px-5 w-full">
          <div class="w-4/5 flex justify-start ">
            <%=form.label @match.team_b.name %>
          </div>
          <div class="w-1/5 overflow-hidden border-2 border-green-300">
            <%= form.number_field :score_b %>
          </div>
        </div>

    </div>
    <div class="py-5">
      <% if @match.predictable? == true %>
        <%= form.submit 'valider', class: "w-2/3 text-center py-3 rounded-lg bg-vert-color text-white hover:bg-indigo-200 focus:outline-none sub-color"  %>
        <%else%>
        <h3 class="text-red-500"> Prédiction fermée</h3>
      <%end%>
    </div>
  </div>
<%end%>