<%= form_with model: [pool, match, prediction] do |form|%>
  <%#= form.hidden_field :pool_id, value: pool.id %>
  <%#= form.hidden_field :match_id, value: match.id %>
  <div>
      <div>
        <div class="field flex justify-center">
          <%=form.label @match.team_a.name %>
          <%#= image_tag(@match.team_a.flag_url, class: "flag") %> :
          <%= form.number_field :score_a %>
        </div>
        <div class="field flex justify-center">
          <%=form.label @match.team_b.name %>
          <%#= image_tag(@match.team_b.flag_url, class: "flag") %> :
          <%= form.number_field :score_b %>
        </div>
    </div>
    <div>
      <%= form.submit 'valider', class: "w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-green focus:outline-none"  %>
    </div>
  </div>
<%end%>