<style>
  .bgk-color{
    background-color: #208B3A ;
  }
</style>
<%= form_with model: [pool,match] do |form| %>
<%= form.hidden_field :pool_id, value: pool.id %>
<div class="max-w-lg mx-auto mt-52 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
  <% if match.persisted? %>
  <h1 class="mb-4 text-3xl font-black">Upadte match</h1>
  <%else %>
  <h1 class="mb-4 text-3xl font-black">Add a match</h1>
  <% end%>

  <div class="field">
    <%=form.select :team_a_id, options_from_collection_for_select(@teams, "id", "name") %>
    <%= f.number_field :score_a %>
  </div> <br>
  
  <div class="field">
    <%=form.select :team_b_id, options_from_collection_for_select(@teams, "id", "name") %>
    <%= f.number_field :score_b %>
  </div>

  <%# if match.persisted? %>
  <%#= form.submit 'Update Match', class: "w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-green-dark focus:outline-none"  %>
  <%# else %>
  <%= form.submit 'Add Match', class: "w-full text-center py-3 rounded bgk-color text-white hover:bg-green-dark focus:outline-none"  %>
  <%# end %>
  <%end%>
</div>