<style>
  .bgk-color{
    background-color: #208B3A ;
  }
</style>
<%= form_with model: [pool,match] do |form| %>
<%= form.hidden_field :pool_id, value: pool.id %>
<div class=" text-center text-2xl">
  <h2>Créer un match</h2>
</div>
<div class="max-w-lg mx-auto mt-52 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
  <div class="flex justify-center px-5 w-full">
    <div class="w-4/5 flex justify-start ">
      <%=form.select :team_a_id, Team.all.collect {|team_a| [ team_a.name, team_a.id ] } %>
    </div>
    <div class="w-1/5 overflow-hidden border-1 border-green-300">
      <%= form.number_field :score_a %>
    </div>
  </div> <br>
  
  <div class="flex justify-center px-5 w-full">
    <div class="w-4/5 flex justify-start ">
      <%=form.select :team_b_id, Team.all.collect {|team_b| [ team_b.name, team_b.id ] } %>
    </div>
    <div class="w-1/5 overflow-hidden border-1 border-green-300">
      <%= form.number_field :score_b %>
    </div>
  </div>
  <div class="flex justify-center px-5 w-full">
    <div class="w-4/5 flex justify-start">
      <%=form.date_field :date %>
    </div>
  </div>
  <div class="w-full flex justify-center overflow-hidden border-1 border-green-300">
    <%= form.time_field :start_at%>
  </div>

  <%# if match.persisted? %>
  <%#= form.submit 'Update Match', class: "w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-green-dark focus:outline-none"  %>
  <%# else %>
  <%= form.submit 'Add Match', class: "w-full text-center py-3 rounded bgk-color text-white hover:bg-green-dark focus:outline-none"  %>
  <%# end %>
  <%end%>
</div>